node_modules
aplications/Postman-win64-8.5.0-Setup.exe
Exercicios/Exe1/exe9.js
Exercicios/Exe1/exe1.js
Exercicios/Exe1/exe10.js
Exercicios/Exe1/exe11.js
Exercicios/Exe1/exe12.js
Exercicios/Exe1/exe13.js
Exercicios/Exe1/exe13test.js
Exercicios/Exe1/exe14.js
Exercicios/Exe1/exe15.js
Exercicios/Exe1/exe16.js
Exercicios/Exe1/exe17.js
Exercicios/Exe1/exe18.js
Exercicios/Exe1/exe19.js
Exercicios/Exe1/exe2.js
Exercicios/Exe1/exe21.js
Exercicios/Exe1/exe22.js
Exercicios/Exe1/exe23.js
Exercicios/Exe1/exe24.js
Exercicios/Exe1/exe25.js
Exercicios/Exe1/exe26.js
Exercicios/Exe1/exe27.js
Exercicios/Exe1/exe28.js
Exercicios/Exe1/exe29.js
Exercicios/Exe1/exe3.js
Exercicios/Exe1/exe30.js
Exercicios/Exe1/exe31.js
Exercicios/Exe1/exe32.js
Exercicios/Exe1/exe34.js
Exercicios/Exe1/exe35.js
Exercicios/Exe1/exe36.js
Exercicios/Exe1/exe37.js
Exercicios/Exe1/exe38.js
Exercicios/Exe1/exe39.js
Exercicios/Exe1/exe7.js
Exercicios/Exe1/exe8.js
Exercicios/Exe1/exe9.js
game utilities/dado.js
